# Database
POSTGRES_USER=<DB_USER>
POSTGRES_PASSWORD=<DB_PASSWORD>
POSTGRES_DB=<DB_NAME>
DATABASE_URL=postgresql://<DB_USER>:<DB_PASSWORD>@db:5432/<DB_NAME>

# Monitoring / Alert
DISCORD_WEBHOOK_URL=<DISCORD_WEBHOOK_URL>
MONITOR_INTERVAL_SECONDS=60
MEMORY_ALERT_THRESHOLD=80
DISK_ALERT_THRESHOLD=80
MONITOR_USERNAME=<MONITOR_USERNAME>
MONITOR_PASSWORD=<MONITOR_PASSWORD>
ALLOWED_HOSTS=localhost,127.0.0.1,testserver
ENABLE_API_DOCS=false
